body {
    font-family: Arial, Helvetica, sans-serif;
    background-image: url('../images/background_login.jpg');
    background-repeat: no-repeat;
    
    background-size: cover;
    background-size: 100% 100%;
}
* {
    box-sizing: border-box;
    
}


/* Full-width input fields */
input[type=text], input[type=password] {
    width: 100%;
    padding: 16px 8px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

h1{
    text-align: center;
}

hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

/* Set a style for all buttons */
button {
    background-color:rgb(21, 16, 16);
    color: white;
    padding: 14px 0;
    margin: 10px 0;
    border: none;
    cursor: grabbing;
    width: 100%;
}

button:hover {
  opacity: 3;
}

/* Extra styles for the cancel button */
.cancelbtn {
    background-color:rgb(118, 113, 113);
    
    padding: 14px 0;
    margin: 10px 0;
    border: none;
    cursor: grabbing;
    width: 100%;
}

/* Float cancel and signup buttons and add an equal width */
.cancelbtn, .signupbtn {
  float: left;
  width: 50%;
}

/* Add padding to container elements */
.container {
    /*justify-content: center;
    align-items: center;
    display: flex;
    justify-content: center;
    font-family: Roboto, Arial, sans-serif;
    font-size: 15px;
    background-image: url('../images/background_login.jpg');
    background-repeat: no-repeat;
    
    background-size: cover;
    background-size: 100% 100%;
    padding: 80px 0;
    text-align:left;*/
   
    font-weight: bold;
  border: 3px solid #f1f1f1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 80%;
  padding: 20px;
 
}

/* Clear floats */
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

/* Change styles for cancel button and signup button on extra small screens */
@media screen and (max-width: 300px) {
  .cancelbtn, .signupbtn {
     width: 100%;
  }
}